@tailwind base;
@tailwind components;
@tailwind utilities;

.searchbar-btn {
    @apply rounded dark:bg-discord-black-500 dark:text-gray-500 text-xs w-full text-left py-1 px-2 bg-gray-100 text-gray-400;
}

.nav-link {
    @apply bg-gray-50 flex justify-center items-center border-gray-300 shadow rounded-full group-hover:rounded-2xl overflow-hidden;
}

.icon-24 {
    height: 24px;
}

.icon-16 {
    height: 16px;
}

.status-indicator-wrapper {
    width: 14px;
    height: 14px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-indicator {
    width: 9px;
    height: 9px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    min-height: 40px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply dark:bg-discord-black-700;
    @apply bg-gray-500;
}

.custom-scrollbar::-webkit-scrollbar-thumb, .custom-scrollbar::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb, .custom-scrollbar::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    @apply dark:bg-discord-black-500;
    @apply bg-gray-200;
}